#pagination {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap:20px;
    /* max-width: 700px; */
    flex : 0 0 50px;
    margin-bottom: 40px;
}

#page-input-container{
    display: flex;
    align-items: center;
    height: 90%;
    flex: 1; /* le conteneur s’étend lui aussi */
}

@media(max-width: 400px) {
    #pagination{
        flex-direction: column;
    }
}

#page-input-container label{
    font-size: 20px;
    margin-right: 10px;
}

#page-input-container input{
    flex: 1 0 auto;
    height: 65%;
    font-size: 20px;
    min-width: 0; /* important pour éviter qu’il déborde */
    
}

#page-input-container p {
    margin-left: 10px;
    font-size: 20px;

}


.page-btn {
    height: 70%;
    font-size: 20px;

}

.page-btn-disabled {
    font-size: 20px;
    opacity: 0.5;
    height: 70%;
    cursor:not-allowed;

}
.page-btn-disabled:hover {
    background: #c4d3e9;
}



.page-btn:active {
    transform: scale(0.98);
}