#pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-buttons-container{
    display: flex;
    gap: 20px;
    width: 100%;
}

#pagination p{
    font-size:20px;
    text-align: center;
}

#page-input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow:hidden;
    position: relative;
}

#page-input-container input{
    padding-right: 4ch; /* pour laisser la place au /10 */
    width: 100%;
    height: 100%;
    font-size: 100%;
    box-sizing: border-box;
}

#page-input-container span {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    pointer-events: none; /* pour ne pas gêner le clic */

}


.page-btn, .page-btn-disabled {
    height: 30px;

}

.page-btn img, .page-btn-disabled img{
    width: 24px;
    height: 24px;
}

.page-btn-disabled {
    opacity: 0.5;
    cursor:not-allowed;

}
.page-btn-disabled:hover {
    background: #c4d3e9;
}