*{
    padding: 0;
    margin: 0;
    /* border: 4px solid black */
}


:root {
    --header-height: clamp(2.5rem, calc(3vw + 1rem), 5rem);
    --search-bar-width: clamp(15rem, calc(20vw + 10rem), 45rem);
    --font-size:clamp(0.5rem, calc(0.25vw + 1rem), 3rem);
}

ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

body {
    font-family: "Computer Modern Bright";
    margin: 0; 
    padding: 0;
    display: grid;
    grid-template-rows: var(--header-height) 1fr ;
    grid-template-areas: 
    "navbar"
    "main";
    min-height: 100%;
    background: #ffffff;
}



main {
    grid-area: main;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center; 
    padding-top: 20px;
    padding-bottom: 20px;
    /* overflow: hidden; */
}


button {
    border:none;
    background: #e6f0ff;
    border-radius: 20px;
    cursor: pointer;
    padding: 0px 10px;
    color: #056dfa;
    letter-spacing: 1px;
}
button:hover {
    background: #c9dfff;
    
}

h1 {
    font-size: clamp(1.5rem, calc(2vh + 1rem), 3.5rem);
}

h2{
    font-size: clamp(1rem, calc(0.5vh + 1rem), 2.5rem);
}

.navbar {
    position: sticky;
    top:0px;
    height: var(--header-height);
    width: 100%;
    grid-area: navbar;
    display: flex;
    gap: 10px;
    background: #333;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.nav-btn {
  position: relative;
  /* padding: 0.5rem 1.2rem; */
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: rgb(61, 61, 61);
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    border: none;
    outline: none;
    transition: color 0.2s;
    cursor: pointer;
    font-weight: bold;
}

.nav-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 7.5%;
  background: #0078d7;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 0.3s;

}

.nav-btn.active,
.nav-btn:hover {
  background-color: #5e5e5e;
}

.nav-btn.active::after {
  transform: scaleX(1);
}

.nav-btn:hover::after {
  transform: scaleX(1);
  background: #0078d7;
}

